<!--DATASTYLING------------------>
<!--
<div class="container">

<div class="row center-xs">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-1">
-->

<!--
<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            start
        </div>
    </div>
</div>
-->



{{ partial "header.html" . }}

<div class="row center-xs">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-1">
        <div class="box">
          <h1>{{ .Title}}</h1>
        </div>
    </div>
</div>



   <div class="container_dokumentation">
     <div class="row start-xs">
       <div class="col-xs-12 col-sm-6 col-md-1 col-lg-1">
         <div class="box">

Dette er et eksempel på datavisualisering.

        </div>
       </div>
    </div>
  </div>


<div class="column_and_name_container">
   <div class="row center-xs">
    <div class="col-xs-11 col-sm-6 col-md-1 col-lg-1"></div>
  </div>
</div>







 {{ partial "datavisualisering.html" . }}


{{ partial "footer.html" . }}
