<!------------------FORSIDESTYLING------------------>

{{ partial "header.html" . }}






<!------------------overskrift------------------>

<div class="row center-xs">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-12">
        <div class="box">
             <h1>{{ .Title}}</h1>
        </div>
    </div>
</div>

<!------------------tekst og billede------------------>

<div class="row center-xs">
    <div class="col-xs-11 col-sm-11 col-md-7 col-lg-8">
        <div class="box">
        <section class="forsidebillede_landskab"> {{ .Content}} </section>
        </div>
    </div>
</div>





<!--<section class="forsidebillede_landskab"> {{ .Content}} </section>-->
   

<!------------------knap------------------>

<div class="row center-xs">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-12">
        <div class="box">
         <a href="//google.com" class="btns">Download tema</a>
        </div>
    </div>
</div>




   
    
<!--
<div class ="row">
       <div class="col--xs-12">
    
    
       </div>
       </div>
-->


<!--
<div class="row center-xs">
    <div class="col-xs-12">
        <div class="box">
                <img class="forsidebillede" SRC="imgs/landskab.jpg">
        </div>
    </div>
</div>
 
-->

<!------------------animation------------------>
<!--
<div class="row center-xs">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-12">
        <div class="w3-container">
      <h1>Spinning Elements</h1>
  <p></p> 
            
  <p><i class="fa fa-spinner w3-spin" style="font-size:64px" ></i></p>
</div>
    </div>
</div>  
-->



    
<!--------------- footer --------------->






    {{ partial "footer.html" . }}