<!--OMSTYLING------------------>


{{ partial "header.html" . }}



<div class="row center-xs">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
          <h1>Om</h1>
        </div>
    </div>
</div>





<!--
<div class="container">
  <div class="row">
-->
<!--      <div class="col-xs-12">-->


<!--  </div>-->







<div class="container">
  <section class="row start-xs">
    <div class="col-xs-1 col-sm-6 col-md-6 col-lg-1">
      <div id="formfeedback" class="hidden">Vi vender tilbage snarest!</div>
      <form action="" method="post" id="kontaktmig">
        <p>Kontakt mig for at høre mere om design systemet.</p>
        <label for="Navn">Navn</label>
        <input type="text" id="navn" name="navn" placeholder="Dit navn" required>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Din e-mail">
        <label for="henvendelse">Jeg henvender mig vedr.:</label>
        <select id="henvendelse" name="henvendelse">
          <option value="support">Support</option>
          <option value="tilbud">Tilbud</option>
          <option value="prepurchase">Spørgsmål før køb</option>
        </select>
        <label for="besked">Besked</label>
        <textarea id="besked" name="besked" placeholder="Din besked.."></textarea>
        <input type="submit" name="submit" value="Send">
        <div id="formfailure" class="hidden"></div>
      </form>
    </div>
  </section>
</div>




<!--</div>-->

{{ partial "footer.html" . }}
